section {
  width: 95%;
  margin: auto;
  padding: 10px;
}
div#content {
  float: left;
  width: 90%;
  min-height: 400px;
}

div#info {
  float: right;
  width: 45%;
  height: 400px;
}

#status-message {
  color: red;
  padding: 10px 0;
}


#title {
  font-size: 22;
  color: darkslategray;
}

.row-id {
  width: 20%;
}
.row-action {
  width: 30%;
}
.row-url {
  width: 50%;
}

.popover {
  position: relative;
}

.popover .right {
  margin-left: 56px;
}